{% extends "header.html" %}

{% block body %}

<body>
	<div class = "container">
		<h4>LOGIN</h4>
		<br>
		<form action="" class="form-inline" method="post">
			<input type="text" class="form-control" placeholder="Username" name="username" value="">
			<input type="password" class="form-control" placeholder="Password" name="password" value="">
			<input class="btn btn-primary" type="submit" value="Login">
		</form>
		
		{% if error %}
			<p class="error"><strong>Error:</strong>{{error}}</p>
		{% endif %}

	</div>
</body>

{% endblock %}