{% extends "header.html" %}

{% block body %}

<body>
	<div class= "container">
     	<table class="table table-bordered">
     		<thead>
     		<tr>
     			<th>Student ID</th>
     			<th>Full Name</th>
     			<th>Gender</th>
     			<th>Phone</th>
                <th>Avatar Link</th>
     		</tr>
     	</thead>
     	<tbody> 
		{% for row in data %}
           <tr class ="success">
             <td>{{row[0]}}</td>
             <td>{{row[1]}}</td>
             <td>{{row[2]}}</td>
             <td>{{row[3]}}</td>
             <td>{{row[4]}}</td>
             <td><img src="{{row[4]}}" height="42" width="42"></img></td>
           </tr>
         {% endfor %}
         </tbody>
        </table>
        <a href="/delete"><button type="button"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Delete An Information
        </button></a>
        <a href="/edit"><button type="button"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Edit An Information
        </button></a>
     </div>
</body>

{% endblock %}